@import "../../styles/variables.less";

.content {
  flex: 1 0 0;
  background: url("../../images/dot.png");
  display: flex;
  padding: 20px;
}

.leftBar {
  flex-basis: 35%;
  border-right: 1px solid #dedede;
  padding-right: 20px;
}

.rightBar {
  flex-basis: 65%;
  padding-left: 20px;
}

.author {
  background: url("../../images/author.JPG") no-repeat;
  background-size: contain;
  width: 300px;
  height: 300px;
}

.about {
  font-family: 'Dancing Script', cursive;
  .name {
    font-size: 38px;
  }
  .role {
    margin-bottom: 30px;
  }
}
